---
http_interactions:
- request:
    method: post
    uri: https://paxful.com/api/trade/completed
    body:
      encoding: UTF-8
      string: apikey=5YsRi3vjvuTlRszANrJUHNsJjGLiYG90&nonce=1602998729&apiseal=31f4454a7c50b56abf86361e680224910c66139f0342af61cb6b951049f4ef9b
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '472'
      X-User-Id:
      - '2919548'
    body:
      encoding: UTF-8
      string: '{"status":"success","timestamp":1602998729,"data":{"count":100,"page":1,"trades":[{"trade_hash":"7ZrgqQ8FSDs","offer_hash":"pbg1ftsnPdH","fiat_amount_requested":"4497.00","payment_method_name":"Bank
        Transfer","crypto_amount_requested":803482,"started_at":"2020-10-18 04:31:37","seller":"Bloomx","buyer":"Instafluencer","fiat_currency_code":"PHP","ended_at":"2020-10-18
        05:01:38","completed_at":null,"offer_type":"sell","status":"expired","crypto_currency_code":"BTC"},{"trade_hash":"Jypkjnn7Qfu","offer_hash":"pbg1ftsnPdH","fiat_amount_requested":"20000.00","payment_method_name":"Bank
        Transfer","crypto_amount_requested":3573412,"started_at":"2020-10-18 04:40:01","seller":"Bloomx","buyer":"bitcoinmasterseller","fiat_currency_code":"PHP","ended_at":"2020-10-18
        04:54:43","completed_at":"2020-10-18 04:54:43","offer_type":"sell","status":"successful","crypto_currency_code":"BTC"},{"trade_hash":"ZY7ewkzUhMk","offer_hash":"pbg1ftsnPdH","fiat_am[...]
