---
http_interactions:
- request:
    method: post
    uri: https://paxful.com/api/trade/completed
    body:
      encoding: UTF-8
      string: apikey=[PAXFUL_ACCESS_KEY]&nonce=1608104417&page=1&apiseal=11eff46a45b96b82689df633fdf9e3451e3cfcfc20d506ac6ef8d51483d10f6a
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-External-User-Id:
      - 8b2805fa-fd69-4d15-9115-66a68a48bebe
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '614'
      X-User-Id:
      - '2919548'
    body:
      encoding: UTF-8
      string: '{"status":"success","timestamp":1608104417,"data":{"count":100,"page":1,"trades":[{"trade_hash":"o43aATDokSJ","offer_hash":"pbg1ftsnPdH","fiat_amount_requested":"19000.00","payment_method_name":"Bank
        Transfer","crypto_amount_requested":2016514,"started_at":"2020-12-16 07:04:53","seller":"Bloomx","buyer":"grceph","fiat_currency_code":"PHP","ended_at":"2020-12-16
        07:15:23","completed_at":"2020-12-16 07:15:23","offer_type":"sell","status":"successful","crypto_currency_code":"BTC"},{"trade_hash":"cCtjkogVxi6","offer_hash":"pbg1ftsnPdH","fiat_amount_requested":"10000.00","payment_method_name":"Bank
        Transfer","crypto_amount_requested":1064587,"started_at":"2020-12-16 06:04:31","seller":"Bloomx","buyer":"dhorgz0820","fiat_currency_code":"PHP","ended_at":"2020-12-16
        06:48:17","completed_at":"2020-12-16 06:48:17","offer_type":"sell","status":"successful","crypto_currency_code":"BTC"},{"trade_hash":"gnvwaQ2S3GA","offer_hash":"pbg1ftsnPdH","fiat_amount_requ[...]
[...]
