---
http_interactions:
- request:
    method: post
    uri: https://paxful.com/api/trade/completed
    body:
      encoding: UTF-8
      string: apikey=5YsRi3vjvuTlRszANrJUHNsJjGLiYG90&nonce=1607063423&page=1&apiseal=5f0f9086c95dc404b555364d8329d959336c9b2c825c0f467bfd8bf31b3cbe57
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Castle-User-Id:
      - 8b2805fa-fd69-4d15-9115-66a68a48bebe
      X-External-User-Id:
      - 8b2805fa-fd69-4d15-9115-66a68a48bebe
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '721'
      X-User-Id:
      - '2919548'
    body:
      encoding: UTF-8
      string: '{"status":"success","timestamp":1607063424,"data":{"count":100,"page":1,"trades":[{"trade_hash":"1WmoLiuSWEa","offer_hash":"pbg1ftsnPdH","fiat_amount_requested":"4800.00","payment_method_name":"Bank
        Transfer","crypto_amount_requested":513826,"started_at":"2020-12-04 06:28:02","seller":"Bloomx","buyer":"Ikigai_25","fiat_currency_code":"PHP","ended_at":"2020-12-04
        06:30:13","completed_at":"2020-12-04 06:30:13","offer_type":"sell","status":"successful","crypto_currency_code":"BTC"},{"trade_hash":"u8WPsHzeTuK","offer_hash":"pbg1ftsnPdH","fiat_amount_requested":"3000.00","payment_method_name":"Bank
        Transfer","crypto_amount_requested":321926,"started_at":"2020-12-04 05:53:14","seller":"Bloomx","buyer":"TidyDogfish356","fiat_currency_code":"PHP","ended_at":"2020-12-04
        06:23:16","completed_at":null,"offer_type":"sell","status":"expired","crypto_currency_code":"BTC"},{"trade_hash":"7zQnxdu4tHi","offer_hash":"pbg1ftsnPdH","fiat_amount_requested":"29000.00",[...]
[...]
